# Python virtual environments
clean_env/
ultrawave_venv/
venv/
.venv/

# Build artifacts
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
